* {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0;
  padding: 0;
}
body{
 
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
  
 
}

/* start vavbar */
:root {
  color: #000;
  color: rgb(255, 255, 255);
  color: red;
  color: gray;
}

.navber {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}

.ul {
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.mt-1 {
  margin-top: 1%;
}
.mt-2 {
  margin-top: 40px;
}
.mt-3 {
  margin-top: 70px;
}
.d-flex {
  display: flex;
  justify-content: space-around;
}
.gap {
  margin: 6px;
  cursor: pointer;
  text-decoration: none;
}
.button {
  background-color: red;
  border-radius: 30px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 5%;
  border: none;
}
.button:hover {
  color: rgb(112, 10, 10);
  cursor: pointer;
}

.bg {
  background-color: red;
  text-align: center;
}
.arrow-btn {
  background-color: red;
}
.text {
  text-align: center;
  margin-top: 0%;
}
.gap-banner {
  line-height: 140%;
}
.bg {
  background-color: black;
}
/* navbar end */
.b-border{
  background-color:#0f0f0f;
  width: 100%;
  height: 100px;
  padding-bottom:20px;
}
.text-center {
  font-family: "Butler";
  line-height: 130px;
  text-align: center;
  font-size: 300%;
}
/* Category img start */
.category-img {
  width: 100%;
  height: 470px;
  object-fit: cover;
  gap: 20px;
}
.gap {
  gap: 1%;
}

.category-para {
  font-size: 20px;
  text-align: center;
  margin-top: 9%;
  font-family: "Butler";
}
/* .category img end */

/* Discover tha test */

.discover-btn {
  background-color: transparent;
  cursor: pointer;
}
.left {
  background-color: transparent;
}
.img {
  object-fit: cover;
  width: 680px;
  height: 600px;
}

.discover-btn {
  background-color: transparent;
  border-radius: 40px;
  border: 1px solid;
  padding: 10px 20px 10px 20px;
  justify-content: space-between;
}
.arrow-icon {
  padding: 9px;
  margin-left: 5px;
  border-radius: 20px;
}
.f-header {
  font-family: "Montserrat", sans-serif;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.5rem;
  text-decoration: none;
  color: red;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.head-2 {
  font-size: 45px;
}
.bg-color {
  background-color: #0f0f0f;
}
.bg-hide {
  background-color: transparent;
}
.mg-left {
  margin-left: 20px;
}

.t-align {
  font-style: normal;
  font-weight: 40px;
  font-size: 20px;
  line-height: 27px;
  text-align: justify;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
  margin: 24px;
}
/* end discover */
/* start deals */
.flex-deals {
  display: flex;
  justify-content: space-evenly;
  object-fit: cover;
}
.img-size {
  object-fit: cover;
  justify-content: space-between;
  height: 230px;
  width: 300px;
  margin-bottom: 15px;
}

.text-align {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
}
.para-font {
  font-family: "Alegreya Sans", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
}
.para-wrap {
  font-display: 20px;
}
.font-none {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
.order-button {
  border-radius: 40px;
  border: 1px solid;
  padding: 10px 20px 10px 20px;
  justify-content: space-between;
  background-color: red;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
/* end for order deals */

.text-align-left {
  text-align: left;
}
.Social-Feed-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  gap: 20px;
}
/* Social-Feed end */
/* footer start */
.footer-bg {
  background-color: #0f0f0f;
}
.img-padding {
  padding-top: 80px;
  margin-right: 900px;
  width: 300px;
  height: 400px;
  background-image: -moz-element(object-fit);
}
.logo-img-s {
  padding-top: 30px;
  margin-left: 30px;
}
.justify-para{
  justify-content: space-between;
}
.line-squance{
  font-style: normal;
  font-weight: 40px;
  font-size: 20px;
  line-height: 27px;
  text-align: justify;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
  margin: 24px;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  
}
.text-decoration{
  text-decoration: none;
}
.web-icon{
  display: flex;
  justify-content:space-around;

}
.last-para{
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
}
